// Colors
// =========================================================
$main-color: #c6e2f5;
// $main-color: #2980b9;
$secondary-color: #2c3e50;
$third-color: #666b71;
$white-color: #fff;
$black-color: #000;