#services {
    padding: 100px 0px 0px 0px;
    background-image: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.8)), url(../imgs/back-photos/service.jpg);
    background-size: cover;
    background-position: center;
    color: $white-color !important;
    background-attachment: fixed;
    clip-path: polygon(51% 0, 100% 25%, 100% 100%, 0 100%, 0 25%);

    @include xs {clip-path: polygon(51% 0, 100% 3%, 100% 100%, 0 100%, 0 3%);}
    @include sm {clip-path: polygon(51% 0, 100% 3%, 100% 100%, 0 100%, 0 3%);}
    @include md {clip-path: polygon(51% 0, 100% 3%, 100% 100%, 0 100%, 0 3%);}
    @include lg {clip-path: polygon(51% 0, 100% 8%, 100% 100%, 0 100%, 0 8%);}
    @include xl {clip-path: polygon(51% 0, 100% 15%, 100% 100%, 0 100%, 0 15%);}

    .container {
        h2 {
            font-size: 50px;

            @include xs {font-size: 37px;}
            @include sm {font-size: 37px;}

            &::after {
                content: '';
                background: $white-color;
                display: block;
                height: 3px;
                width: 170px;
                margin: 20px auto 5px;
            }
        }

        .col-lg-3 {

            &:hover {
                background: $main-color;
                border-radius: 20%;
                cursor: pointer;
                transition: all 0.8s ease-in-out;

                h3 {
                    &::after {
                        content: '';
                        background: $white-color;
                        display: block;
                        height: 3px;
                        width: 150px;
                        margin: 10px auto 0px;
                    }
                }
            }
    
            h3 {font-size: 24px;}
    
            p {
                font-size: 18px;

                @include lg {font-size: 15px;}
            }
        }
    }

    .bottom-img {clip-path: polygon(51% 57%, 0 100%, 100% 100%);}
}